body {
  text-align: center;
  font-family: Helvetica;
  background-color: lightblue;

}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 75px;
}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

#last-guess {
  font-size: 100px;
  margin-bottom: 15px;
}

#fields {
  text-align: center;
}

#guess {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
  height: 40px;
  width: 400px;
}

button {
  height: 40px;
  width: 110px;
  margin: 20px;
}

button:hover {
  background-color: white;
  border: 1px solid black;
}

#reset-button{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
