body {
 text-align: center;
 font-family: Helvetica;
 background-color: #f3f9fe ;

}

header {
 background-color: #109af7 ;
}

h1 {
 color: white;
 font-size: 50px;
 font-weight: bold;
 padding: 40px;
}

#current-range{
  margin-top: 10px;
}

#min-max-status{
  margin-top: 10px;
}

#min-max-status p{
  display: inline-block;

}

h3 {
 font-size: 32px;
 margin-bottom: 20px;
 margin-top: 20px;
}

#last-guess {
 font-size: 80px;
 margin-bottom: 15px;
}

#fields {
 text-align: center;
}

#guess {
 display: block;
 margin: auto;
 margin-top: 20px;
 font-size: 40px;
 height: 40px;
 width: 475px;
 border-radius: 30px;
 border: 1px solid #109af7 ;

}

input{
  outline: none;
  text-align: center;
}

button {
 background-color: #109af7 ;
 color: white;
 border: none;
 height: 40px;
 width: 140px;
 margin: 20px;
 border-radius: 30px;
 font-size: 13px;
}

button:hover:enabled {
 background-color: white;
 border: 2px solid #109af7 ;
 color: black;
}

button:disabled{
  background-color: lightgray;
  color: black;
}

button:focus{
  outline: none;
}
#reset-button{
 display: block;
 margin: auto;
 margin-bottom: 20px;
}

#min-section, #max-section{
  display: inline-block;
  margin: 20px;
}

#min, #max {
 border-radius: 30px;
 border: 1px solid #109af7 ;
 height: 25px;
 margin-top: 20px;
}

#new-range-button{
  display:block;
  margin: auto;
  margin-top: 20px;
}
